.containerEditarEvento{
    background-color: rgb(4, 10, 41);
    padding: 0.4rem;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr;
    grid-template-areas: "barraInfoEditar" "CaracteristicasEvento";
    grid-gap: 0.2rem;
}

.fieldEditar{
    padding-left: 20vh;
    align-content: center;
}

.legendEditar{
    color: black;
}

.barraInfoEditar{
    min-height: 10vh;
    background-color: green;
    grid-area: barraInfoEditar;
}

.labelEditar{
    color: black;
}

.CaracteristicasEvento{
    background-color: white;
    grid-area: CaracteristicasEvento;
}