.containerSeleccionarEvento{
    background-color: rgb(4, 10, 41);
    padding: 0.4rem;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr;
    grid-template-areas: "barraInfoSeleccionarEvento" "caracteristicasSeleccionarEvento";
    grid-gap: 0.2rem;
}


.barraInfoSeleccionarEvento{
    min-width: 10vh;
    min-height: 10vh;
    background-color: green;
    grid-area: barraInfoSeleccionarEvento;
}
.labelTitulo{
    color: white;
    position: absolute;
    left: 5%;
    top: 5%;
}
.labelName{
    color: white;
    position: absolute;
    left: 70%;
    top: 3%;
    width: 10%;
}

.buttonNuevoEvento{
    position: absolute;
    left: 5%;
    top: 25%;
    width: 15%;
    height: 50px;
}

.caracteristicasSeleccionarEvento{
    background-color: white;
    display: inline-block;
    padding-top: 5vh;
    padding-left: 10vh;
    grid-area: caracteristicasSeleccionarEvento;
}

.divImagenSeleccionar{
    display: inline-block;
    margin: 20px;
    width: 50vh;
    height: 50vh;
    background-color: black;
}