







/*CSS anterior*/
.containerNuevoUsuario{
    text-align: center;
    background-color: rgb(4, 10, 41);
    min-width: 100vh;
    min-height: 100vh;
    padding-top: 15px;
    padding-left: 50vh;
    padding-right: 50vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "caracteristicasNuevoUsuario";
    grid-gap: 0.2rem;
    

}

.caracteristicasNuevoUsuario{
    min-width: 100vh;
    min-height: 100vh;
    grid-area: "caracteristicasNuevoUsuario";
}


.fieldNuevo{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 5vh;
    padding-left: 5vh;
}

.labelNuevo{
    color: burlywood;
    vertical-align: left;
}

.legendNuevo{
    padding-top: 2vh;
    padding-right: 15vh;
    padding-left: 15vh;
    color: burlywood;
}